@import url('https://fonts.googleapis.com/css?family=Overpass');

h1 {
  font-family: 'Overpass', sans-serif;
  color:grey;
  text-transform: uppercase;
}

#app {
  min-width:600px;
  margin:20px auto;
}

.wrapper{
  display:flex;
  flex-wrap:wrap;
  width:400px;
  margin:0 auto;
}

.simon-block{
  width:200px;
  height:150px;
  border:2px solid #000;
}

.btn-wrapper{
  display:flex;
  justify-content: center;
  margin: 20px 0;
}

#score {
  width:100px;
  height:50px;
  background-color:black;
  color:red;
  line-height: 50px;
  font-size:16px;
  font-family:arial;
  text-align:center;
}

#msg {
  height:50px;
  color:#D93240;
}

#start, #restart, #strict {
  width:90px;
  height:50px;
  margin-left:5px;
  font-size:12px;
}

#green {
  background-color:#419873;
}

#red {
  background-color:#D93240;
}

#blue {
  background-color:#3A99D8;
}

#yellow {
  background-color:#FFCC5C;
}

footer{
  text-align:center;
  margin-top:40px;
}
